body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
}

.bg-white {
    background: #fff;
    padding: 20px;
}

.border-end {
    border-right: 2px solid #e9ecef !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
    background: #f7f7f7;
}

.profile-button {
    background: #6f42c1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.profile-button:hover,
.profile-button:focus,
.profile-button:active {
    background: #5a2cae;
    box-shadow: none;
    outline: none;
}

.labels {
    font-size: 14px;
    font-weight: 600;
    color: #6c757d;
}

.add-experience {
    background: #fff;
    border-radius: 20px;
    font-size: 14px;
    color: #6f42c1;
    transition: all 0.3s ease;
}

.add-experience:hover {
    background: #6f42c1;
    color: #fff;
    cursor: pointer;
}

.experience {
    font-size: 16px;
    font-weight: 600;
    color: #6c757d;
}

.shadow-lg {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
