body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.register-logo .ace {
    font-size: 2.5rem;
    color:  #0056b3;
    font-weight: 900;
    margin-bottom: -10px;
}

.register-logo .data-system {
    font-size: 1rem;
    color:  #0056b3;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.register-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form-control {
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.form-control::placeholder {
    color: #999;
}

.form-control:focus {
    background-color: #fff;
    color: #333;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

.btn-square {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-square:hover {
    background-color: #003f7f;
    transform: translateY(-2px);
}

.already-have-account {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    transition: color 0.3s ease;
    font-weight: bold;
    letter-spacing: 1px;
}

.already-have-account:hover {
    color: #0056b3;
    text-decoration: none;
}
