<table class="custom-table table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Announcer</th>
            <th scope="col">Date</th>
            <th scope="col">Company</th>
            <th scope="col">Document</th>
            <th scope="col">Announce to</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Project Kickoff</td>
            <td>John Doe</td>
            <td>Aug 17, 2024</td>
            <td>ABC Corp</td>
            <td><a href="#" class="document-link">Kickoff Agenda.pdf</a></td>
            <td>Development Team</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Quarterly Review</td>
            <td>Jane Smith</td>
            <td>Sept 1, 2024</td>
            <td>XYZ Inc.</td>
            <td><a href="#" class="document-link">Review Summary.pdf</a></td>
            <td>All Departments</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>New Policy Update</td>
            <td>Michael Johnson</td>
            <td>Sept 15, 2024</td>
            <td>DEF Ltd.</td>
            <td><a href="#" class="document-link">Policy Document.docx</a></td>
            <td>HR & Admin</td>
        </tr>
    </tbody>
</table>
