
.navbar .dropdown-menu {
    width: 300px;
  }
  
  .navbar .dropdown-header {
    font-weight: bold;
    color: #343a40;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
  }
  
  .navbar .dropdown-item {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  
  .navbar .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  .navbar .dropdown-divider {
    margin: 0;
  }
  