<div class="body">
    <div class="box">
        <div class="person-a">
          <div class="icon">
          </div> <!-- icon-->
          <div class="message">
          Cat ipsum dolor sit amet, sit on human they not getting up ever and purr while eating. 
          </div><!-- message -->
        </div><!-- person a -->
        
          <div class="person-b">
        
          <div class="message">
        Lies down claw drapes jump off balcony
          </div><!-- message -->
        </div><!-- person b -->
        
      
          <div class="person-a">
          <div class="icon">
          </div> <!-- icon-->
          <div class="message">
          knock everything off the table
          </div><!-- message -->
        </div><!-- person a -->
        
          <div class="person-b">
          
          <div class="message">
      intently stare at the same spot stand in doorway
          </div><!-- message -->
        </div><!-- person b -->
        
        <div class="person-a">
          <div class="icon">
          </div> <!-- icon-->
          <div class="message">
          Poop in the plant pot 
          </div><!-- message -->
        </div><!-- person a -->
        
            <div class="person-b">
        
          <div class="message">
      always wanting food
          </div><!-- message -->
        </div><!-- person b -->
        
       <!-- person a -->
        <div class="input-container">
            <input type="text" class="message-input" placeholder="Type a message...">
            <button class="send-button">Send</button>
        </div>
    </div>

</div>